.container-fluid {
    padding: 0px;
}

.info-bar{
    background-color: black;
    color: white;
    padding: 5px 0;
    height: 30px;
}

.info-bar a:hover{
    color: white;
}

.info-bar a{
    color: white;
}

.icon-size {
    width: 50px;
}

.row-full-height > div {
    display: block;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}

.row-full-height > div > img {
    width: 100%;
    height: 40px;
}

