body {
    font-family: Hack Nerd Font;
}

.info-bar{
    background-color: black;
    color: white;
    padding: 5px 0;
    height: 40px;
    align-items: center;
    display: flex;
}

.info-bar a:hover{
    color: white;
}

.info-bar a{
    color: white;
}

.icon-size{
    width: 50px;
}

.row-full-height > div{
    display: block;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.row-full-height > div > img{
    height: 35px;
}

#logo{
    height: 50px;
}

.row-header{
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.link-distancing a{
    padding: 0 10px;
    color: black;
}

.link-distancing a:hover{
    color: #077c40;
}

.footer-xs-style{
    text-align: center;
}

.footer-sm-style{
    background-color: rgb(4, 85, 4);
    text-align: center;
    color: white;
}

.footer-sm-style > div > a{
    color: white;
}

.home-subtitle{
    font-size: 35px;
    font-weight: normal;
    opacity: 1;
    line-height: 1em;
    text-align: center;
    margin: 60px 0 60px;
}

.home-products{
    text-align: center;
    padding: 20px 0 20px;
}

.home-products img{
    max-height: 100%;
    max-width: 100%;
}

.img-thumbnail > hidden-xs{
    max-width: 300px;
}

.img-thumbnail > visible-xs{
    max-width: 100px;
}

button.enter-desktop{
    margin-bottom: 40px;
    width: 100px;
    height: 50px;
}

button.enter-mobile{
    height: 60px;
    width:100%;
    font-size: 30px;
}


.form-title{
    text-align: center;
}

div.form-text > label, button{
    margin-top: 20px;
}

.shop-nav{
    text-align: center;
    padding: 40px 0;
}

.shop-nav .btn{
    background-color: green;
    border-color: black;
}

.panel-heading {
    padding: 0;
    border:0;
}

.panel-title>a, .panel-title>a:active{
    display: block;
    padding:15px;
}

.panel-heading  a:before{
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 

.home-mobile button{
    margin: 0px;
}
